<nav class="navbar navbar-default">
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><%= link_to 'Sign Up', 'users/new' %></li>
    <li role="presentation" class="active"><%= link_to 'Log In', "sessions/new" %> </li>
  </ul>
</nav>

<h1>Welcome to Book It!</h1>
