<h1>Search for a Book!</h1>
<script>
function bookSearch() {

  var search = prompt("Enter a title, author, or ISBN number.");
  var googleAPI = "https://www.googleapis.com/books/v1/volumes?q=" + search;

  $.getJSON(googleAPI, function (response) {
      console.log("JSON Data: " + response.items);
      for (var i = 0; i < response.items.length; i++) {
          var item = response.items[i];
          document.getElementById("content").innerHTML += "<br>" + item.volumeInfo.title + " " + "by" + " " + item.volumeInfo.authors;
          $('#content').append('<button class="btn btn-outline-primary">');
        };
  });
}

$('button').on('click', bookSearch)
</script>

<button class="btn btn-outline-primary btn-lg">Search Books</button>

<div id='content'></div>
