<h1>Search for a Book!</h1>


<input id='search' placeholder="Search Books">
<button class="btn btn-outline-primary">Search Books</button>
<%= link_to "Add Book", new_book_path, class: "btn btn-success" %>

<%= link_to "Back", :back %>

<% @books.each do |book| %>
<p><%= link_to book.title, book_path(book), method: :get %> by <%= book.author %> <p>
<% end %>
