/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $font-family-base: "Overpass Mono", monospace;

@import "bootstrap-sprockets";
 @import "bootstrap";

#content {
  color: black;
}

 .alert-warning {
   color: rbg(0,0,0);
 }

.btn-success {
  border: 2px solid black;
}

.navbar-right {
  padding-bottom: 50px;
}

.book {
  height: 350px;
  width: 250px;
}

.book-show {
  height: 475px;
  width: 325px;
}

#num-of-reviews {
  font-size: 15px;
}

#book-description {
  background-color: rgba(267,245,234,.5);
}

#review-background {
  background-color: rgba(267,245,234,.5);
}
